body{
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.header{
    text-align: center;
    background-color: rgb(77, 201, 160);
    height: 90px;
    color:white;
    padding-top: 1px;

}
.header p{
    font-size: x-small;
}
.navbar{
    background-color: black;
}
.navbar a{
    text-decoration: none;
    color: white;
    margin: 10px;
}
.section{
    display:flex;
    flex-direction:row;
}
.left_sec{
    width: 500px;
    background-color: rgb(239, 243, 247);
}
.rigth_sec{
    margin-left: 15px;
    width:100%;
}
#photoofme{
    font-size: x-small;
    font-weight: bold;
}
.left_img1{
    padding: 1px;
    height: 100px;
    background-color: rgb(165, 162, 162);
}
.left_img2{
    padding: 0px;
    height: 20px;
    background-color: rgb(165, 162, 162);
}
.rigth_img1{
    padding: 1px;
    height: 100px;
    background-color: rgb(165, 162, 162);
}
.footer{
    padding: 1px;
    text-align: center;
    background-color: rgb(228, 224, 224);
    height: 60px;
}
.navbar a:hover{
    color:blueviolet
}
@media screen and (max-width: 600px) {
    .section{
        flex-wrap:wrap;
        margin-left: 10px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
       text-align: center;
    }
    .rigth_sec{
        margin-left:0;
    }
    
  }
